@import url("https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css");
#chat .pusher-chat-widget-input #chat-txt-message {
    padding-right: 93px !important;
    padding-right: 5.813em !important;
}
#chat .pusher-chat-widget-input .chat-text-box-icons {
     top: 0.7rem!important;
     size: 30px;
}
